
body.dark-theme {
    --body-color: #333;
    --text-color: #f4f4f4;
    --table-color: #636363;
    --li-picture : url('../../images/arrowHandDark.png');
}

.change-theme {
    color: var(--title-color);
    font-size: 1.15rem;
    cursor: pointer;
}