
.form {
    display: flex;
    padding:1.75rem 1rem;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    box-shadow: 2px 2px 8px 8px rgba(0,0,0,0.2);

    &__container {
        grid-template-columns: 1.4fr 1.5fr 1.5fr;
        row-gap: 1rem;
    }

    &__group {
        margin: 0 0.5rem;
    }

    &__input {
        border-radius: 10px;
        font-size: var(--normal-font-size);
        border:1px solid var(--text-color);
        line-height: 2.75rem;
        
        margin:0;

        &[type=number],
        &[type=number]::-webkit-inner-spin-button, 
        &[type=number]::-webkit-outer-spin-button{           
            padding-left: 0.75rem;            
            -webkit-appearance: none;
            appearance: none;
        }
    }

    #installment {
        width: 35%;
    }


    &__select {       
         
        padding:0.8rem 1rem;
        margin-left: 0.1rem;    
        color: black;   
        border-radius: 10px;   
        border:1px solid var(--text-color);  
        outline: none;
        cursor: pointer;
        
        
    }

    &__label {
        position: absolute;
        padding:0 0.5rem;
        font-size:var(--small-font-size);        
        transform: translate(1.5rem,-0.5rem);
        z-index: 9;
        background-color: var(--body-color);
    }

    &__span {
        position: absolute;
        padding:0 0.5rem;
        font-size:var(--normal-font-size);        
        transform: translate(-2.5rem,0.8rem);
        z-index: 9;
        color: black;        
    }

    &__logo {      
        display: flex;
        justify-content: center;
        img{
            
            height: 3.5rem;
        }
        
    }

    &__title {
        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding:0.5rem 2.5rem;
            font-size: 1.5rem;
            margin-left: 2rem;
            letter-spacing:0.1rem;
            border:1px solid var(--text-color);
            border-radius:8px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
            color:white;
            background-color: rgb(58,155,83);

            &:hover {
                background-color: lighten(rgb(58,155,83), 10%);
                box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
                transform:scale(1.05);
            }
        }
        
    }
}