
.nav {
    height:var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
    

    &__logo img{
        height: 3.75rem;

        &:hover {
            transform: scale(0.98);
        }
    }

    &__title {
        letter-spacing: 0.1rem;
    }
    
    &__button {        
        align-items: center;
    }

    &__button i{
        font-size: 1.25rem;
    }

    &__language {
        margin:0 1rem;
        outline: none;
        cursor: pointer;
    }

    @media screen and (max-width: 680px) {
        &__title {
            font-size: var(--small-font-size);
        }

        &__language {
            margin-top:0.3rem;
        }

        &__button {
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            margin-right: 1rem;

            & * {
                margin-bottom:5px;
            }
        }
    
        
    }
}    