
// form scss 
.form {
  display: flex;
  padding: 0 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);

  &__container {
    grid-template-columns: 1.2fr 1.5fr 1.5fr 1.5fr 1.5fr;
    
    & > * {
      padding: 2rem 1rem;
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 10px;

    & > :last-child {
      margin-top: 25px;
    }
  }

  &__group {
    margin: 0.5rem 0;
  }

  &__title {
    text-align: center;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    button {
      padding: 0.5rem 2.5rem;
      font-size: 1.5rem;     
      margin-top:1rem;
      letter-spacing: 0.1rem;
      border: 1px solid var(--text-color);
      border-radius: 8px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
      color: white;
      background-color: rgb(58, 155, 83);

      &:hover {
        background-color: lighten(rgb(58, 155, 83), 10%);
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    }
  }

  &__select {
    padding: 0.8rem 1rem;    
    color: black;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    outline: none;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > img {
      height: 4.5rem;
    }

    & > :last-child {
      margin-top: 0.75rem;
    }
  }

  &__toggle {
    height: 2.5rem;
    width: 100%;
    padding:0 0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 620px) {
      width: 70%;
    }
  }

  &__credit_toggle_button {
    width: 100%;
  }
 
  @media screen and (max-width: 1120px) {
    
    &__logo {
      display:none;
    }    
  }  

  @media screen and (max-width: 1000px) {
    
    justify-content: center;
    align-items: center;
    padding:1rem 0;

    &__container {
      grid-template-columns: 1fr 1fr;
    }

    &__sections {
      padding: 1rem 1rem;
    }

    &__button {
      padding: 2rem 1rem;
    }

   
  }

  @media screen and (max-width: 620px) {
    
    justify-content: center;
    align-items: center;
    padding:1rem 0;

    &__container {
      grid-template-columns: 1fr;
    }

    &__sections {
      padding: 1rem 1rem;
    }

    &__button {
      padding: 2.5rem 1rem;
    }

   
  }  
}


 // InfoSection scss files
.info {
  margin-top: 2rem;
  padding: 0;
  height: 100%;
  min-height: 20vh;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  width: 100%;

  &__graphic {
    padding: 1rem;
    @include border;
  }

  &__info {
    padding: 3.5rem 1.5rem;
    line-height: 2.5rem;
    @include border;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;

    & > h2,h3 {
      font-weight: 400;
    }
  }

  .change {
    background-color:  rgb(58, 155, 83) !important;   

    h2,h3 {
      color:white !important;
    }
  }

  @media screen and (max-width: 980px) {    
    gap: 0.5rem;

    &__text {
      font-size:var(--small-font-size);
    }
      
  }

  @media screen and (max-width: 620px) {
    
    grid-template-columns:1fr ;    
    
  }

}


// Table Section scss files

.table-overflow {
  overflow:visible !important;
  height: 100% !important; 
}

.table {
  width: 100%;
  @include border;
  border-top: 0;
  margin-top: 2rem;
  min-height:50vh;
  height:600px;
  overflow: hidden;
  position: relative;

  

  table {    
    border:1px solid var(--text-color);
    border-collapse: collapse;
    width: 90%;
   

    th,td {
      padding: 0.5rem;
      text-align: center;
    }
  
    th {
      height: 3rem;
      border-bottom: 3px solid var(--text-color);
    }     

    tr:nth-child(even) {
      background-color: var(--table-color);
      
    }

    @media screen and (max-width: 780px) {
      width: 100%;    
      
    }
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -2.5rem;    
    padding: 0  1.5rem;

    @media screen and (max-width: 300) {
      padding: 0  1.25rem;     
      margin-top: 1rem; 
      
    }
    
    h1 {
      text-align: center;      
    }
    
  }

  &__info--buttons {
    grid-template-columns: 1fr 1fr;

    button {
      padding:1.5rem 1rem ;
      color:var(--text-color);
      letter-spacing: 0.1rem;
      font-size: 1.25rem;
      font-weight: 500;
      border:1px solid var(--text-color);           
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      background-color: var(--body-color);
      

      @media screen and (max-width: 620px) {
        
        font-size: 0.9rem;

              
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    letter-spacing: 0.1rem;
    font-weight: 600;
    background-color: var(--text-color);
    color:var(--body-color);
    width: 100%;
    padding: 0.5rem;
  }   

  @media screen and (max-width: 980px) {   
    
    thead,th,td {
      
      font-size: var(--small-font-size);
    }
    
  }

  @media screen and (max-width: 620px) {
    padding-top: 1rem;
    
    thead,th,td {
      padding: 0.3rem 0.5rem;
      font-size: 0.6rem;
      font-weight: bold;
    }
    
  }
}



// Credit Info scss files
.info__credit {
   
  ul {
    margin-top: 2rem;
    list-style-type: none;
    
    li {
      line-height: 2rem;
      font-size: 1.25rem;
      color:var(--text-color);

    }

    li:before {
      content: "*";
      color: var(--text-color);
      font-weight: bold;
      display: inline-block;
      align-items: center;       
      padding:0 1rem;
    }
    
  }

  @media screen and (max-width: 620px) {
    ul {
      margin-top: 1rem;
      li {
        font-size: 0.9rem;
      }
    }
  
    
  }
}


.active {
  cursor:not-allowed;
  pointer-events: none; 
  color:white !important;   
  background-color: lighten(rgb(58, 155, 83), 10%) !important;
  border-top:5px solid var(--text-color) !important;      
}