.form {
  display: flex;
  padding: 0 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.2);

  &__container {
    grid-template-columns: 1.4fr 1.5fr 1.5fr 1.5fr 1.5fr;
    
  }

  &__sections {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding:4rem 1rem;
    margin:0 10px;   
  }

  &__group {
    margin: 0.5rem 0;
  }

  &__title {
    text-align: center;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 1rem;

    button {
      padding: 0.5rem 2.5rem;
      font-size: 1.5rem;     
      margin-top:1rem;
      letter-spacing: 0.1rem;
      border: 1px solid var(--text-color);
      border-radius: 8px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      color: white;
      background-color: rgb(58, 155, 83);

      &:hover {
        background-color: lighten(rgb(58, 155, 83), 10%);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    }
  }

  &__select {
    padding: 0.8rem 1rem;    
    color: black;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    outline: none;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 4.5rem;
    }
  }
 
  @media screen and (max-width: 1120px) {
    
    &__logo {
      display:none;
    }    
  }  

  @media screen and (max-width: 1000px) {
    
    justify-content: center;
    align-items: center;
    padding:1rem 0;

    &__container {
      grid-template-columns: 1fr 1fr;
    }

    &__sections {
      padding: 1rem 1rem;
    }

    &__button {
      padding: 2rem 1rem;
    }

   
  }

  @media screen and (max-width: 620px) {
    
    justify-content: center;
    align-items: center;
    padding:1rem 0;

    &__container {
      grid-template-columns: 1fr;
    }

    &__sections {
      padding: 1rem 1rem;
    }

    &__button {
      padding: 2.5rem 1rem;
    }

   
  }
  
  
}

.info {
  margin-top: 2rem;
  padding: 0;
  height: 100%;
  min-height: 20vh;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  width: 100%;

  &__graphic {
    padding: 1rem;
    @include border;
  }

  &__info {
    padding: 3.5rem 1.5rem;
    line-height: 2.5rem;
    @include border;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
  }

  @media screen and (max-width: 980px) {    
    gap: 0.5rem;

    &__text {
      font-size:var(--small-font-size);
    }
      
  }

  @media screen and (max-width: 620px) {
    
    grid-template-columns:1fr ;
    
    
    
  }

}

.table {
  width: 100%;
  @include border;
  margin-top: 2rem;
  min-height: 50vh;

  table {    
    border:1px solid var(--text-color);
    border-collapse: collapse;
    width: 90%;

    th,td {
      padding: 0.5rem;
      text-align: center;
    }
  
    th {
      height: 3rem;
      border-bottom: 3px solid var(--text-color);
    } 

    tr:nth-child(even) {
      background-color: var(--table-color);
    }
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-collapse: collapse;
  }

  

   

  @media screen and (max-width: 980px) {
   
    
    thead,th,td {
      
      font-size: var(--small-font-size);
    }
    
  }

  @media screen and (max-width: 620px) {
    padding-top: 1rem;
    
    thead,th,td {
      padding: 0.3rem 0.5rem;
      font-size: 0.6rem;
      font-weight: bold;
    }
    
  }
}
