
.container {
    max-width: 1200px;
    margin:0 auto;

    
}

.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.disabled {
    cursor:not-allowed;
    pointer-events: none;
    
}

.active {
    cursor:not-allowed;
    pointer-events: none; 
    color:white !important;   
    background-color: lighten(rgb(58, 155, 83), 10%) !important;
}

main {
    padding:1rem;
    margin-top: calc(var(--header-height) + 5.5rem);

    @media screen and (max-width: 980px) {        
        padding:2.5rem 1rem;
        margin: auto;
    }

    @media screen and (max-width: 620px) {
        width: 100%;
            
        
    }
}

