@mixin border {
    border-radius: 10px;
    border: 1px solid var(--text-color);
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.2);
}

@mixin label {
    position: absolute;
    padding:0 0.5rem;
    font-size:var(--small-font-size);        
    z-index: 9;
    background-color: var(--body-color);
    transform: translate(-11rem,-0.4rem); 

    @media screen and (max-width: 620px) {
         
        padding: 0 0.1rem;
        
        
    }
}

@mixin span {
    position: absolute;
    padding:0 0.5rem;
    font-size:var(--normal-font-size);       
    z-index: 9;
    color: black; 
}